.chart-wrapper {
    max-height: 35vh;
    overflow: hidden;
}

.position-card {
    background: var(--ion-color-light);
    width: 100% !important;
    align-items: start;

    margin: 0 !important;
    padding: 0 !important;
    // padding-bottom: 30px !important;
    margin-bottom: 5px !important;

    ion-card-header {
        background: var(--ion-color-primary);
        text-align: left;
        color: var(--ion-color-primary-contrast);

        ion-grid {
            width: 100% !important;
        }
    }
}
