<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="chart-wrapper">
          <ngx-charts-tree-map
            [scheme]="colorScheme"
            [results]="treemapData"
            (select)="onSelect($event)">
          </ngx-charts-tree-map>    
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>    
</ion-content>