<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">

      <ion-slide>
        <ngx-charts-tree-map
          (window:resize)="onResize($event)"
          [scheme]="colorScheme"
          [results]="treemapData"
          (select)="onSelect($event)"
          [view]="view">
        </ngx-charts-tree-map>    
      </ion-slide>
      
      <ion-slide>
        <ion-grid>
          <ion-row>
            <h1>TreeMap in ion-grid</h1>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ngx-charts-tree-map
                (window:resize)="onResize($event)"
                [scheme]="colorScheme"
                [results]="treemapData"
                (select)="onSelect($event)"
                [view]="view">
              </ngx-charts-tree-map>    
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-card class="position-card">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        Test1
                      </ion-col>
                      <ion-col size="4">
                        Test2
                      </ion-col>
                      <ion-col size="4">
                        Test3
                      </ion-col>
                      <ion-col>
                        Test4
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>              

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-lg="12">
              <ion-card class="position-card">
                <ion-card-header>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="4">
                        Test1
                      </ion-col>
                      <ion-col size="4">
                        Test2
                      </ion-col>
                      <ion-col size="4">
                        Test3
                      </ion-col>
                      <ion-col>
                        Test4
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>              
  
        </ion-grid>
      </ion-slide>
      
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    
    </ion-slides>    
</ion-content>