<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Google-Charts with ngx-charts 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" routerLink="/bar-chart" routerDirection="forward">Bar Chart</ion-button>
  <ion-button expand="block" routerLink="/pie-chart" routerDirection="forward">Pie Chart</ion-button>
  <ion-button expand="block" routerLink="/pie-grid-chart" routerDirection="forward">Pie Grid Chart</ion-button>
  <ion-button expand="block" routerLink="/donut-chart" routerDirection="forward">Donut Chart</ion-button>
  <ion-button expand="block" routerLink="/line-chart" routerDirection="forward">Line Chart</ion-button>
  <ion-button expand="block" routerLink="/treemap" routerDirection="forward">Treemap</ion-button>
</ion-content>
